<% provide(:title, 'About Us') %>

	<div id="header">
	  <div class="container">  
	    <div class="row">
		  <div class="span12">
		    <h1>About AFG</h1>
		  </div>
		</div>
	  </div>
	</div>

	<div id="content">
	  <div class="container">			
	    <div class="row">
		  <div class="span6">	
			<h2>Our Mission</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent arcu massa, consequat nec venenatis vel, vehicula in felis. Donec dapibus tortor consequat turpis fringilla rutrum. Nulla porta turpis massa. Vivamus facilisis pretium mauris, ac varius augue posuere eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent arcu massa, consequat nec venenatis vel, vehicula in felis. Donec dapibus tortor consequat turpis fringilla rutrum. Nulla porta turpis massa. Vivamus facilisis pretium mauris, ac varius augue posuere eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		  </div>
		  <div class="span6">	
			<h2>Our Skills</h2>
    <div class="progress progress-info progress-skills" data-label="HTML" data-percent="85">
    <div class="bar"></div>
    </div>
    <div class="progress progress-success progress-skills" data-label="jQuery" data-percent="70">
    <div class="bar"></div>
    </div>
    <div class="progress progress-warning progress-skills" data-label="Flash" data-percent="30">
    <div class="bar"></div>
    </div>
    <div class="progress progress-danger progress-skills" data-label="Skill" data-percent="60">
    <div class="bar"></div>
    </div>
		  </div>		  
		</div>
        <div class="row">
		  <div class="span12">
			<h2 class="txt-middle">Our Team</h2>
		    <hr class="dashed">				
		  </div>  
		</div>		
	    <div class="row">
		  <div class="span12">
		  <ul class="thumbnails">
		    <li class="span3">
			  <div id="team" class="thumbnail">			  
                <img alt="" src="http://quickimage.it/300x180">	
				<div class="caption">
				  <h4>John Smith</h4>
				  <p><em>Founder</em></p>
				  <div class="social">
					<ul class="unstyled">
					  <li><a class="facebook" href=""><i class="glyphicons-facebook"></i></a></li>
					  <li><a class="twitter" href=""><i class="glyphicons-twitter"></i></a></li>					  
					</ul>
				  </div>
				</div>
			  </div> 
			</li>
		    <li class="span3">
			  <div id="team" class="thumbnail">			  
                <img alt="" src="http://quickimage.it/300x180">	
				<div class="caption">
				  <h4>John Smith</h4>
				  <p><em>Founder</em></p>
				  <div class="social">
					<ul class="unstyled">
					  <li><a class="facebook" href=""><i class="glyphicons-facebook"></i></a></li>
					  <li><a class="twitter" href=""><i class="glyphicons-twitter"></i></a></li>					  
					</ul>
				  </div>
				</div>
			  </div> 
			</li> 
		    <li class="span3">
			  <div id="team" class="thumbnail">			  
                <img alt="" src="http://quickimage.it/300x180">	
				<div class="caption">
				  <h4>John Smith</h4>
				  <p><em>Founder</em></p>
				  <div class="social">
					<ul class="unstyled">
					  <li><a class="facebook" href=""><i class="glyphicons-facebook"></i></a></li>
					  <li><a class="twitter" href=""><i class="glyphicons-twitter"></i></a></li>					  
					</ul>
				  </div>
				</div>
			  </div> 
			</li> 
		    <li class="span3">
			  <div id="team" class="thumbnail">			  
                <img alt="" src="http://quickimage.it/300x180">	
				<div class="caption">
				  <h4>John Smith</h4>
				  <p><em>Founder</em></p>
				  <div class="social">
					<ul class="unstyled">
					  <li><a class="facebook" href=""><i class="glyphicons-facebook"></i></a></li>
					  <li><a class="twitter" href=""><i class="glyphicons-twitter"></i></a></li>					  
					</ul>
				  </div>
				</div>
			  </div> 
			</li>
		    <li class="span3">
			  <div id="team" class="thumbnail">			  
                <img alt="" src="http://quickimage.it/300x180">	
				<div class="caption">
				  <h4>John Smith</h4>
				  <p><em>Founder</em></p>
				  <div class="social">
					<ul class="unstyled">
					  <li><a class="facebook" href=""><i class="glyphicons-facebook"></i></a></li>
					  <li><a class="twitter" href=""><i class="glyphicons-twitter"></i></a></li>					  
					</ul>
				  </div>
				</div>
			  </div> 
			</li>
		    <li class="span3">
			  <div id="team" class="thumbnail">			  
                <img alt="" src="http://quickimage.it/300x180">	
				<div class="caption">
				  <h4>John Smith</h4>
				  <p><em>Founder</em></p>
				  <div class="social">
					<ul class="unstyled">
					  <li><a class="facebook" href=""><i class="glyphicons-facebook"></i></a></li>
					  <li><a class="twitter" href=""><i class="glyphicons-twitter"></i></a></li>					  
					</ul>
				  </div>
				</div>
			  </div> 
			</li>
		    <li class="span3">
			  <div id="team" class="thumbnail">			  
                <img alt="" src="http://quickimage.it/300x180">	
				<div class="caption">
				  <h4>John Smith</h4>
				  <p><em>Founder</em></p>
				  <div class="social">
					<ul class="unstyled">
					  <li><a class="facebook" href=""><i class="glyphicons-facebook"></i></a></li>
					  <li><a class="twitter" href=""><i class="glyphicons-twitter"></i></a></li>					  
					</ul>
				  </div>
				</div>
			  </div> 
			</li>
		    <li class="span3">
			  <div id="team" class="thumbnail">			  
                <img alt="" src="http://quickimage.it/300x180">	
				<div class="caption">
				  <h4>John Smith</h4>
				  <p><em>Founder</em></p>
				  <div class="social">
					<ul class="unstyled">
					  <li><a class="facebook" href=""><i class="glyphicons-facebook"></i></a></li>
					  <li><a class="twitter" href=""><i class="glyphicons-twitter"></i></a></li>					  
					</ul>
				  </div>
				</div>
			  </div> 
			</li>			
		  </ul>
		</div>
		</div>		
	  </div>
	</div>