<% provide(:title, 'Home') %>
<div id="landing">
  <div class="container">  
    <div class="row">
	  <div class="span5">
	    <h1>Lorem Ipsum</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    <p><a href="register.html" class="btn btn-primary btn-action">Get Started Now</a></p>
	    <p><a href="javascript:function afg(){var d=document, l=d.location; if (l.href.indexOf('amazon.com') < 0) { alert('You must be on Amazon to use this bookmark!') } else { var regex = RegExp('/([A-Z0-9]{10})[/]*');  m = l.href.match(regex); if (!m) { alert('You must be on a product page!'); } else {  asin=m[1]; alert(asin); d.location='http://www.affiliateraise.com/redirect?asin=' + asin;}}}afg();void(0)" class="btn btn-primary btn-action">button</a></p>
	  </div>
	  <div class="span7">
	    <div class="js-video">
		  <iframe src="http://player.vimeo.com/video/38498748?title=0&amp;byline=0&amp;portrait=0&amp;color=38e8ae" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	    </div>
	  </div>
	</div>
  </div>
</div>

<div id="content" class="txt-middle">
  <div class="container">
    <div class="row">
	  <div class="span12">
		<h2>It is as easy as 1 2 3</h2>
	    <hr class="dashed">				
	  </div>  
	</div>  
    <div class="row">
	  <div class="span4 bouncy">
	    <div class="icon_wrapper">
	      <i class="glyphicons-user animated"></i>
	    </div>
		<h2>Step 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>	
	  </div>
	  <div class="span4 bouncy">
	    <div class="icon_wrapper">
	      <i class="glyphicons-shopping_cart"></i>
	    </div>
		<h2>Step 2</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>	
	  </div>
	  <div class="span4 bouncy">
	    <div class="icon_wrapper">
	      <i class="glyphicons-ok animated"></i>
	    </div>
		<h2>Step 3</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>	
	  </div>		  
	</div>
	<hr class="dashed">				
	    <div class="row">
		  <div class="span4">
			<a class="thumbnail" href="">
			  <img alt="image" src="http://quickimage.it/400x200">
			</a>		
			<h2>Image 1</h2>
			<p>Optional subtext to help better explain the image above can go here.</p>
		  </div>
		  <div class="span4">
			<a class="thumbnail" href="">
			  <img alt="image" src="http://quickimage.it/400x200">
			</a>
			<h2>Image 2</h2>
			<p>Optional subtext to help better explain the image above can go here.</p>
		  </div>
		  <div class="span4">
			<a class="thumbnail" href="">
			  <img alt="image" src="http://quickimage.it/400x200">
			</a>
			<h2>Image 3</h2>
			<p>Optional subtext to help better explain the image above can go here.</p>
		  </div>		  
		</div>		
	  </div>
	</div>