<footer id="footer">
  <div class="container">
    <div class="row">
	  <div class="span3">		
		<h3>Company</h3>
		<ul class="animated">
		  <li><%= link_to "About Us", about_path %></li>
		  <li><%= link_to "Contact", contact_path %></a></li>
		  <li><a href="#">Jobs</a></li>
		  <li><a href="#">Press</a></li>
		</ul>	
	  </div>
	  <div class="span3">
		<h3>We're Social</h3>
		<ul class="animated">
		  <li><a href="#">Facebook</a></li>
		  <li><a href="#">Twitter</a></li>
		  <li><a href="#">Google &#43;</a></li>
		</ul>		  
	  </div>
	  <div class="span3">
		<h3>Support</h3>
		<ul class="animated">
		  <li><a href="#">Help</a></li>
		  <li><a href="#">Privacy Policy</a></li>
		  <li><a href="#">Terms of Use</a></li>
		  <li><a href="#">FQA</a></li>
		</ul>			
	  </div>
	  <div class="span3">
		<h3>Subscribe</h3>
		<p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>			
	    <form>
          <input class="span3" type="text" placeholder="Your Email" name="subscribe">
		  <button class="btn btn-primary">Subscribe</button>
		</form>
	  </div>		  
	</div>	  
  </div>	  
</footer>